{% extends "base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">A propos de We Movie</a>
        <div class="col-md-6 pull-right">
            <div class="input-group mb-3">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Recherche</button>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="row">
            <video width="320" height="240" controls>
                <source src="{{ movieTopRated.videoUrl }}" type="video/mp4">
            </video>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="form-check col-md-3">
                {% for genre in listGrenres.genres %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="genre_{{ genre.name }}" id="genre_{{ genre.id }}">
                        <label class="form-check-label" for="genre_{{ genre.id }}">{{ genre.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <div id="top_rated_movies" class="col-md-9">
                {% for movie in bestMovies.data.results %}
                    <div class="card">
                        <div class="card-body">
                            <a href="">
                                <div class="col-sm-2">
                                    <img src="{{ bestMovies.base_url ~ movie.poster_path }}" alt="minimal-size">
                                </div>
                                <div class="col-sm-8">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}