{% extends "base.html.twig" %}

{% block body %}
    <section>
        <div class="row">
            <iframe width="500" height="320" src="{{ movieTopRated.videoUrl }}">
            </iframe>
            {# <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ movieTopRated.video.homepage }}" allowfullscreen></iframe>
            </div> #}
        </div>
    </section>
    <section>
        <div class="row">
            <div class="form-check col-md-3">
                {% for genre in listGrenres.genres %}
                    <div class="form-check">
                        <input class="form-check-input check-movie-genre" type="checkbox" value="{{ genre.id }}" name="genre_{{ genre.name }}" id="genre_{{ genre.id }}">
                        <label class="form-check-label" for="genre_{{ genre.id }}">{{ genre.name }}</label>
                    </div>
                {% endfor %}
            </div>
            <div id="top_rated_movies" class="col-md-9">
                {% for movie in bestMovies.data.results %}
                    <div class="card movie-card bg-light">
                        <div class="row card-body">
                            <div class="col-md-4">
                                <img class="poster-mini" src="{{ bestMovies.base_url ~ movie.poster_path }}" alt="minimal-size">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">{{ movie.title }}</h5>
                                <p class="card-text">{{ movie.overview }}</p>
                                <span class="btn btn-primary btn-read-more-movie pull-right" data-url-detail="{{ path('details_of_movie', {'movieId': movie.id}) }}">read more</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}