{% extends "base.html.twig" %}

{% block body %}
    <nav>
        <div class="row">
            <div class="col-md-6">A propos de We Movie</div>
            <div class="col-md-6 pull-right"><input type="search" name="" id=""></div>
        </div>
    </nav>
    <section>
        <div class="row">
            <img src="http://placehold.it/250x250" alt="video">
            <video width="250" controls>
                <source src="" type="">
            </video>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-3">
                <ul>
                {% for genre in listGrenres.genres %}
                    <li><input type="checkbox" name="genre_{{ genre.name }}" id="genre_{{ genre.id }}"><label for="genre_{{ genre.id }}">{{ genre.name }}</label></li>
                {% endfor %}
                </ul>
            </div>
            <div id="top_rated_movies" class="col-md-9" data-best_movie_url="{{ path('top_rated_movie') }}">
                {% for item in bestMovies %}
                    {% if loop.index > 1 %}
                        <div></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}